body{
    margin: 0;
    background:#eae9e5;
}
header{
    font-family:'Montserrat', sans-serif;
}
ul{
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(200px,1fr));
    list-style-type:none;
    font-family: 'Montserrat', sans-serif;
}